body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#FFFFE9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse{
    background-color:lightblue;
    border-color:gray;
}
.navbar-inverse .navbar-brand{
    color:gray;
}
.navbar-inverse .navbar-nav > li > a{
    color:gray;
}
.section-title{
    display:inline;
    background-color:blue;
}
.section-title > div{
    padding:15px;
    background-color:beige;
    margin:15px;
}

.form-group > .col-md-10 > input[type="number"]{
    width:85px;
}

.form-group > .col-md-10 > input[type="date"]{
    width:170px;
}

.image-holder {
    padding-top:7px;
    padding-bottom:7px;
}

.skillsList{
    background-color:white;
    height:150px;
    width:150px;
    padding-left:10px;
    overflow-y:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}

#projects-table > tbody> .project-info:hover{
    background-color:#CFBDA5;
}
.projects-title{

}
#project-details{
    margin-top:20px;
}
.project-description{
    display:none;
}
.description-inner > div{
    display:inline-block;
}
.description-inner > .bid-button{
    float:right;
}
.favorite-star{
    width:21px;
    height:21px;
}
.favorite-star svg:hover{
    cursor:pointer;
}
.btn-custom {
  background-color: hsl(194, 55%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbe7f0", endColorstr="#5cb5cf");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cbe7f0), to(#5cb5cf));
  background-image: -moz-linear-gradient(top, #cbe7f0, #5cb5cf);
  background-image: -ms-linear-gradient(top, #cbe7f0, #5cb5cf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbe7f0), color-stop(100%, #5cb5cf));
  background-image: -webkit-linear-gradient(top, #cbe7f0, #5cb5cf);
  background-image: -o-linear-gradient(top, #cbe7f0, #5cb5cf);
  background-image: linear-gradient(#cbe7f0, #5cb5cf);
  border-color: #5cb5cf #5cb5cf hsl(194, 55%, 52%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46);
  -webkit-font-smoothing: antialiased;
}
.btn-custom:hover{
      background-color: #f5a77d;
}