@model Freelancer.MVC.Models.ProfileViewModel

<h1>@Html.DisplayFor(x => x.Username)</h1>
<div>
    <h2>About @Html.DisplayFor(x => x.FullName):</h2>
    <div>@Html.DisplayFor(x => x.Info)</div>
</div>